rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Enable full read and write access for dev / testing mode
    match /{document=**} {
      allow read, write: if true;
    }
    
  }
}
